<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title> Favourites </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ng-container *ngIf="localDataService.news.length > 0; else noFavourites">
    <ion-grid fixed>
      <ion-row>
        <ion-col
          size="12"
          size-lg="3"
          size-sm="4"
          sixe-sx="12"
          *ngFor="let article of localDataService.news let i = index"
        >
          <app-article
            [favouritesPage]="true"
            [article]="article"
            [index]="i"
          ></app-article>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>

<ng-template #noFavourites>
  <ion-slides [options]="sliderOptions">
    <ion-slide>
      <ion-label>There is no favourites yet...</ion-label>
    </ion-slide>
  </ion-slides>
</ng-template>
