<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title> Favourites </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ng-container *ngIf="favourites">
    <ion-grid fixed>
      <ion-row>
        <ion-col
          size="12"
          size-lg="3"
          size-sm="4"
          sixe-sx="12"
          *ngFor="let article of favourites let i = index"
        >
          <app-article [article]="article" [index]="i"></app-article>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
